.botao {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.botao-download {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
